@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111;
  color: #f4f4f4;
}

.custom-gradiant {
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  width: 250px;
  padding-bottom: 0.3rem;
  margin: 0 auto;
}

.custom-gradiant::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(239 68 68) 20%, rgb(96 165 250) 100%);
}
